<!DOCTYPE html>
<html>
<head>
  <title>Artk</title>
  <%= stylesheet_link_tag    "artk/application", media: "all" %>
  <%= javascript_include_tag "artk/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
